.base-ancho{
    width: 20% !important;
}
.linkajustado{
    margin: 0px;
    padding:0px;
}
.contenedor-tabla{

display: table;

}

.contenedor-fila{

display: table-row;

}

.contenedor-columna{

display: table-cell;

}